html {
    scroll-behavior: smooth;
}


h1 {
    margin-bottom: .8rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(118, 118, 118, .6);
    color: white;
    height: 50vh;
    font-size: 1.9rem;
}

main {
    width: 90%;
    margin: 30px auto;
    /* border: 2px solid black; */
    /* height: 100vh; */
}

main h3 {
    display: block;
    width: fit-content;
    font-size: 1.5rem;
    margin: 10px auto;
    font-weight: 500;
    position: relative;
}

main h3::after {
    content: '';
    background-color: rgba(118, 118, 118, .4);
    width: 55px;
    height: 3.5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    /* grid-template-rows: repeat(2, 500px); */
    margin-top: 50px;
    color: #606060;
    column-gap: 1.2rem;
    row-gap: 3rem;
}

.container ol {
    list-style-type: decimal !important;
    line-height: 1.8rem;
    list-style-position: inside;
}

.container img {
    max-height: 80%;
    width: 100%;
}

.container ol a {
    text-decoration: none;
    color: #606060;
    font-weight: 700;
}

.fourth {
    grid-column: 1 / span 2 ;
}

.fivth {
    grid-column: 1 / span 2 ;
}

.special-image {
    height: 80%;
}

@media (max-width: 920px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    .container {
        row-gap: 150px;
    }
}

@media (max-width: 700px) {
    .container p {
        font-size: 0.9em;
    }

    .container h1 {
        font-size: 1.2em;
    }
}