main {
    width: 80%;
    margin: auto;
}


.item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap;  */
    margin: 30px 0;
}

.image-container {
    flex-grow: 0;
    width: 30%;
}

.image-container p {
    text-align: center;
}

.item img {
    width: 100%;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: 5px 0;
}

.product-container {
    flex-grow: 0.3;
}


.content:last-child {
    border: 0;
}

.text-content {
    flex: 0 1 40%;
}

@media (max-width: 750px) {
    .item {
        flex-wrap: wrap;
    }

    .text-content {
        flex: 1 0 100%;
        margin-top: 50px;
    }
}

@media (max-width: 550px) {
    p {
        font-size: .7em;
    }
    main {
        margin: 0;
        align-self: center;
        width: 100%;
    }
}