main {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}

main h1 {
    margin-left: 70px;
    margin-bottom: 40px;
    font-weight: 500;
}

.container {
    width: 80%;
    margin: auto;
    height: max-content;
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(5, 20%);
}

.container img {
    height: 80%;
    width: 80%;
    aspect-ratio: 4 / 4;
}


.container div {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}


/* ---------------
HOVER ANIMATION 
--------------- */
.container div:hover {
    box-shadow: -1px 44px 34px -16px rgba(0, 0, 0, .34);
}


@media (max-width: 850px) {
    main {
        width: 100%;
    }
    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .container p {
        font-size: .85em;
    }
}


@media (max-width: 600px) {
    main h1 {
        font-size: 1.5em;
        margin-left: 40px;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    .container p {
        font-size: .7em;
    }
}

