{% load static %}
<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{% static 'images/site-icon.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Work+Sans:wght@100;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <meta property="og:description" content="Hər Növ Kənd Təsərrüfatı Xidmətləri Texnikalara 40% dövlət güzəşti ISFAGREEN LIFE Previous Next TİNGLƏR SUVARMA KƏND TƏSƏRRÜFATI MAŞINLARI Tinglər Çeşidlərimiz Türkiyədə yetişdirilir İSFA Green Life şirkəti Türkiyənin Karadağ fidancılıq şirkəti ilə birlikdə meyvə tinglərinin yetişdirilməsini və satışını təşkil edir. Meyvə veriminə qədər tam dəstək Tinglərin əkilməsinə, dərmanlanmasına və gübrələnməsinə meyvə veriminə qədər hər növ texniki…">
    <meta property="description" content="Hər Növ Kənd Təsərrüfatı Xidmətləri Texnikalara 40% dövlət güzəşti ISFAGREEN LIFE Previous Next TİNGLƏR SUVARMA KƏND TƏSƏRRÜFATI MAŞINLARI Tinglər Çeşidlərimiz Türkiyədə yetişdirilir İSFA Green Life şirkəti Türkiyənin Karadağ fidancılıq şirkəti ilə birlikdə meyvə tinglərinin yetişdirilməsini və satışını təşkil edir. Meyvə veriminə qədər tam dəstək Tinglərin əkilməsinə, dərmanlanmasına və gübrələnməsinə meyvə veriminə qədər hər növ texniki…">
    <meta property="og:site_name" content="ISFA - Green Life">
    <meta name="keywords" content="suvarma, suvarma sistemləri, bağ-bostan alətləri, texnikalar, texnika, kənd-təsərrüfatı texnikaları, gübrələr, isfa, ISFA, isfa - green life"/>
    {% block header %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>