{% extends 'base.html' %}
{% load static %}
{% block header %}
<title>{{ item }}</title>
<link rel="stylesheet" href="{% static 'css/fertilizer_item.css' %}">
<meta name="keywords" content="{{ item }}">
{% endblock %}


{% block content %}
{% include 'navbar.html' %}

<main>
    <div class="item">
        <div class="image-container">
            <img src="/static/{{ item.image }}" alt="Fertilizer">
            <p>{{ item }}</p>
        </div>
        <div class="product-container">
            {% if item.element_1 %}
            <div class="content">
                <p>{{ item.element_1 }}</p>
                <p>{{ item.faiz_1 }} %</p>
            </div>
            {% endif %}
            {% if item.element_2 %}
            <div class="content">
                <p>{{ item.element_2 }}</p>
                <p>{{ item.faiz_2 }} %</p>
            </div>
            {% endif %}
            {% if item.element_3 %}
            <div class="content">
                <p>{{ item.element_3 }}</p>
                <p>{{ item.faiz_3 }} %</p>
            </div>
            {% endif %}
            {% if item.element_4 %}
            <div class="content">
                <p>{{ item.element_4 }}</p>
                <p>{{ item.faiz_4 }} %</p>
            </div>
            {% endif %}
            {% if item.element_5 %}
            <div class="content">
                <p>{{ item.element_5 }}</p>
                <p>{{ item.faiz_5 }} %</p>
            </div>
            {% endif %}
            {% if item.element_6 %}
            <div class="content">
                <p>{{ item.element_6 }}</p>
                <p>{{ item.faiz_6 }} %</p>
            </div>
            {% endif %}
            {% if item.element_7 %}
            <div class="content">
                <p>{{ item.element_7 }}</p>
                <p>{{ item.faiz_7 }} %</p>
            </div>
            {% endif %}
            {% if item.element_8 %}
            <div class="content">
                <p>{{ item.element_8 }}</p>
                <p>{{ item.faiz_8 }} %</p>
            </div>
            {% endif %}
            {% if item.element_9 %}
            <div class="content">
                <p>{{ item.element_9 }}</p>
                <p>{{ item.faiz_9 }} %</p>
            </div>
            {% endif %}
            {% if item.element_10 %}
            <div class="content">
                <p>{{ item.element_10 }}</p>
                <p>{{ item.faiz_10 }} %</p>
            </div>
            {% endif %}
            {% if item.element_11 %}
            <div class="content">
                <p>{{ item.element_11 }}</p>
                <p>{{ item.faiz_11 }} %</p>
            </div>
            {% endif %}
            {% if item.element_12 %}
            <div class="content">
                <p>{{ item.element_12 }}</p>
                <p>{{ item.faiz_12 }} %</p>
            </div>
            {% endif %}
            {% if item.element_13 %}
            <div class="content">
                <p>{{ item.element_13 }}</p>
                <p>{{ item.faiz_13 }} %</p>
            </div>
            {% endif %}
            {% if item.element_14 %}
            <div class="content">
                <p>{{ item.element_14 }}</p>
                <p>{{ item.faiz_14 }} %</p>
            </div>
            {% endif %}
            {% if item.element_15 %}
            <div class="content">
                <p>{{ item.element_15 }}</p>
                <p>{{ item.faiz_15 }} %</p>
            </div>
            {% endif %}
        </div>
        <div class="text-content">
            <p>
                {{ item.content }}
            </p>
        </div>
    </div>
</main>

{% include 'footer.html' %}

{% endblock %}